.header {
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%;
}

@media (max-width: 600px) {
  .header {
    display: none;
  }
}

.header-dropdown, .header-dropdown-1 {
  display: none;
}

.header-list {
  padding: 0;
  margin: 0;
  display: inline;
  list-style: none;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 3rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

@media (max-width: 900px) {
  .header-nav {
    padding: 1rem;
  }
}

.header-items {
  display: inline-block;
  text-transform: uppercase;
  margin: 0.8rem 0;
  list-style: none;
  -webkit-transition: all 0.2s 60s;
  transition: all 0.2s 60s;
}

@media (max-width: 600px) {
  .header-items {
    display: block;
    text-align: center;
  }
}

.header-items:not(:last-child) {
  margin-right: 3rem;
}

@media (max-width: 900px) {
  .header-items:not(:last-child) {
    margin-right: 0;
  }
}

.header-sub:hover .header-dropdown-1,
.header-items:hover .header-dropdown {
  background-color: transparent;
  position: absolute;
  list-style: none;
  display: block;
  padding: 0;
  margin: 0;
  border-radius: 2px;
}

@media (max-width: 600px) {
  .header-sub:hover .header-dropdown-1,
  .header-items:hover .header-dropdown {
    display: inline-block;
    font-size: 1rem;
  }
}

.header-sub:hover .header-dropdown-1 li,
.header-items:hover .header-dropdown li {
  padding: 1.5rem;
  margin: 0 1.5rem;
}

.header-sub:hover .header-dropdown-1 li:not(:last-child),
.header-items:hover .header-dropdown li:not(:last-child) {
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.767);
}

.header-sub:hover .header-dropdown-1 {
  margin-left: 2rem;
  display: inline-block;
  width: 80%;
}

.header-logo {
  width: 5rem;
  height: 5rem;
  border-radius: 1rem;
}

@media (min-width: 1800px) {
  .header-logo {
    width: 12rem;
    height: 12rem;
  }
}

@media (max-width: 600px) {
  .header-logo {
    margin-left: 8px;
  }
}

.header-link {
  display: inline-block;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  text-decoration: none;
  padding: 1rem;
}

.header-link:visited, .header-link:link {
  font-size: 1.5rem;
  color: white;
}

@media (min-width: 1800px) {
  .header-link:visited, .header-link:link {
    font-size: 3rem;
    margin-top: 2rem;
  }
}

.header-link:hover, .header-link:active {
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
  border-bottom: 1px solid #008e9b;
  -webkit-box-shadow: 2px 4px 4px #008e9b;
          box-shadow: 2px 4px 4px #008e9b;
  color: white;
  color: orangered;
  border-radius: 0.5rem;
}

.header-linker {
  display: inline-block;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  text-decoration: none;
}

.header-linker:visited, .header-linker:link {
  font-size: 1rem;
  color: white;
}

@media (min-width: 1800px) {
  .header-linker:visited, .header-linker:link {
    font-size: 3rem;
  }
}

.header-linker:hover, .header-linker:active {
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
  opacity: 0.7;
}

.nav-phone {
  display: none;
}

@media (max-width: 600px) {
  .nav-phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    z-index: 10;
  }
  .nav-phone-header {
    width: 100%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    position: absolute;
    left: 0;
    top: 0;
  }
  .nav-phone-item {
    display: block;
    text-align: center;
    margin: 1.5rem 1rem;
  }
  .nav-phone-link {
    font-size: 2rem;
    text-decoration: none;
    color: white;
    text-transform: capitalize;
  }
  .nav-phone-link:hover, .nav-phone-link:active {
    -webkit-transform: translateY(-0.1rem);
            transform: translateY(-0.1rem);
    border-bottom: 1px solid #008e9b;
    -webkit-box-shadow: 2px 4px 4px #008e9b;
            box-shadow: 2px 4px 4px #008e9b;
    color: white;
    color: orangered;
    border-radius: 0.5rem;
  }
  .nav-phone-input {
    display: none;
  }
  .nav-phone-label {
    height: 4rem;
    width: 4rem;
    background-color: white;
    margin-right: 2rem;
    margin-top: 1rem;
    border-radius: 1rem;
    position: relative;
    z-index: 5;
  }
  .nav-phone-span, .nav-phone-span::before, .nav-phone-span::after {
    width: 2rem;
    height: 0.2rem;
    background-color: black;
    display: inline-block;
  }
  .nav-phone-span {
    top: 0.4rem;
    left: 1rem;
    position: relative;
  }
  .nav-phone-span::before {
    top: 0.8rem;
  }
  .nav-phone-span::before, .nav-phone-span::after {
    position: absolute;
    content: "";
  }
  .nav-phone-span::after {
    top: 1.7rem;
  }
  .nav-phone-input:checked ~ .nav-phone-header {
    opacity: 1;
    visibility: visible;
    background-color: black;
  }
  .nav-phone-input:checked + .nav-phone-label .nav-phone-span {
    background-color: transparent;
  }
  .nav-phone-input:checked ~ .nav-phone-background {
    -webkit-transform: scale(80);
            transform: scale(80);
  }
  .nav-phone-input:checked + .nav-phone-label .nav-phone-span::before {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
    top: 0;
  }
  .nav-phone-input:checked + .nav-phone-label .nav-phone-span::before,
  .nav-phone-input:checked + .nav-phone-label .nav-phone-span::after {
    margin-top: 0.9rem;
  }
  .nav-phone-input:checked + .nav-phone-label .nav-phone-span::after {
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
    top: 0;
  }
}

.input:checked ~ .nav-phone {
  display: none;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: black;
  height: 100vh;
  font-family: Gilroy, sans-serif;
}

.video {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

@-webkit-keyframes move {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50rem);
            transform: translateX(-50rem);
  }
  50% {
    opacity: 0.5;
    -webkit-transform: translateX(30rem);
            transform: translateX(30rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes move {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50rem);
            transform: translateX(-50rem);
  }
  50% {
    opacity: 0.5;
    -webkit-transform: translateX(30rem);
            transform: translateX(30rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.center {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (min-width: 1800px) {
  .center {
    top: 50%;
  }
}

.center-paragraph {
  color: #7d7484;
  font-size: 2rem;
  padding: 2rem;
  text-align: center;
}

@media (min-width: 1800px) {
  .center-paragraph {
    font-size: 4rem;
    padding: 3rem;
  }
}

@media (max-width: 600px) {
  .center-paragraph {
    font-size: 1rem;
  }
}

.center-header {
  color: transparent;
  font-size: 8rem;
  text-align: center;
  letter-spacing: 1.5rem;
  text-transform: uppercase;
  font-family: Georgia, serif;
  background: -webkit-gradient(linear, right top, left top, from(#5c0faa), to(#00a98e));
  background: linear-gradient(to left, #5c0faa, #00a98e);
  -webkit-background-clip: text;
  -webkit-animation: move 3s 2 ease-in-out;
          animation: move 3s 2 ease-in-out;
}

@media (max-width: 600px) {
  .center-header {
    letter-spacing: 1rem;
    font-size: 5rem;
    -webkit-animation: none;
            animation: none;
  }
}

@media (min-width: 1800px) {
  .center-header {
    letter-spacing: 4rem;
    font-size: 20rem;
  }
}

.center-container {
  text-align: center;
}

.center-button {
  background-color: transparent;
  font-size: 2rem;
  padding: 1rem;
  color: #4b8078;
  border-radius: 1.5rem;
  border: 1px solid #4b8078;
  -webkit-box-shadow: 0 2px 2px #5c0faa;
          box-shadow: 0 2px 2px #5c0faa;
  width: 15rem;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

@media (max-width: 600px) {
  .center-button {
    width: 8rem;
    font-size: 1rem;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@media (min-width: 1800px) {
  .center-button {
    padding: 2rem;
    font-size: 4rem;
    width: 25rem;
  }
}

.center-button:last-child {
  margin-left: 2rem;
}

@media (min-width: 1800px) {
  .center-button:last-child {
    margin-left: 4rem;
  }
}

.center-button:hover {
  -webkit-transform: scale(1.1) translateY(-2px);
          transform: scale(1.1) translateY(-2px);
  -webkit-box-shadow: none;
          box-shadow: none;
}
/*# sourceMappingURL=styles.css.map */